---
title: My Rad Blog
---

<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
</style>
  <link href="/css/style.css" rel="stylesheet">
</head>
<body>
  <h1 class="text-3xl text-blue-800 font-bold underline">
    {{ title }}
  </h1>
</body>
</html>