<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../css/style.css" rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
    </style>
    <title>{{ header }}</title>
</head>
<body class="min-h-screen bg-yellow-50">
    <div class="flex justify-center gap-x-24 pl-8 pr-8 pt-8">
        <div class="w-40 flex items-center justify-center">
            <picture class="">
                <a href="https://summerofcode.withgoogle.com/">
                    <img alt="Google Summer of Code" src="../../img/gsoc24/GSoC-Vertical.png" height="120">
                </a>
            </picture>
        </div>

        <div class="w-60 flex items-center justify-center">
            <picture>
                <a href="https://scala.epfl.ch/">
                    <img alt="Scala Center" src="../../img/gsoc24/scala-center-logo.png" height="40">
                </a>
            </picture>
        </div>
    </div>
    <div class="font-mono flex flex-wrap flex-row justify-center gap-x-8 px-8 md:px-0 text-center">
        <a href = "https://summerofcode.withgoogle.com/programs/2024/projects/CkctbYJJ">Project</a>
        <a href = "https://miggy.moe/gsoc24">Home</a>
        <a href = "https://miggy.moe/gsoc24/experience">Story</a>
    </div>
    <div class="font-mono flex flex-row flex-wrap justify-center gap-x-8 pt-2 px-8 md:px-0">
        <a href = "https://drive.google.com/file/d/1P5OHWCivJj0fDHv7VUw5Qum_PeoV9CY4/view?usp=sharing">Proposal</a>
        <a href = "https://github.com/VirtusLab/scala-cli/issues/610">Github Issue</a>
        <a href = "https://github.com/Perklone/scala-cli">Repository</a>
        <a href = "https://github.com/VirtusLab/scala-cli/pull/3033">Pull Request</a>
    </div>
    <h2 class="font-dmserif text-center px-8 pt-12 pb-8 text-5xl text-orange-600">{{ title }} </h2>
    <div class="px-8 py-8 md:px-80 flex flex-col gap-y-8 sm:gap-y-6 text-xl content-area font-ebgaramond md:text-2xl"> {{ content }} </div>
</body>
</html>