---
layout: base.njk
title: Not found
description: That page does not exist.
permalink: /404.html
eleventyExcludeFromCollections: true
---
<div class="notfound">
  <h1>That page doesn’t exist.</h1>
  <p>The link may be old, or I may have moved something. The essays are all still here.</p>
  <a class="button" href="/">ALL ESSAYS</a>
</div>
